@import "fonts.css";

body {
  padding-top: 5rem;
  overflow: hidden;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

#router-applet {
  height: calc(100vh - 80px);
  width: 100%;
  overflow: auto;
}

/* ---------------------- ANIMATIONS ---------------------- */

.fade-in {
	opacity: 1;
	animation-name: fadeOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-duration: .5s;
}
@keyframes fadeOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* ---------------------- END ANIMATIONS ---------------------- */

.scoreboard {
  font-family: dotMatri;
  color: #f0f000;
  border: 1px solid #555;
  border-radius: 5px;
  background: #111;
}

.scoreboard .team-badge {
  width: 55px;
  height: 55px;
  background: rgba(255,255,255,0.5);
  border-radius: 5px;
}

.scoreboard .team-badge:first-child {
  border-right: 1px solid #555;
}

.scoreboard .team-badge:last-child {
  border-left: 1px solid #555;
  float: right;
}
